/*   全局样式     */
html,body,ul,li,h1,h2,h3{padding: 0;margin: 0;}
ul,li{list-style: none;}
a{text-decoration:none;}
.w1200{min-width: 1200px;}
.container-fluid{padding: 0;}
/*header*/
header .logobox{background-color: rgb(97, 239, 113);height: 78px;padding: 0 20px;}
.title h1{height: 78px;line-height: 78px;font-size: 28px;}
.headtool{background-color: #988b8b;}
.tool{padding-right: 20px;}
.tool li{float: left;padding: 0 5px;margin: 0 15px;height: 30px; line-height: 30px;}
.tool a{color: #55d8c1;font-size: 16px;}
/*  adm  */
.adm-left{background-color: #000;border-right: 1px solid #aec8e0;text-align: center;}
.admtitle{background-color: #b7b3b3;font-size: 20px;font-weight: 400;height: 30px;line-height: 30px;}
.adm-left,.adm-right{padding:0;}
.adm-right>h3{padding-left:15px;}
.admmenu,.admlist{color:#fff;font-size:16px;padding-top:15px;padding-bottom:15px;min-height:520px;display: inline-block;width:49%;vertical-align:bottom;}
.admmenu li{padding-right: 6px;}
.admmenu li,.admlist li{height: 30px;line-height: 30px;}
.admmenu li i{float: right;margin-top: 6px;}
.admlist{background-color:#484343;}
.breadcrumb{background-clip: padding-box;background: #eee;border-bottom: 1px solid #aaa;border-top: 1px solid #fafafa;border-left: 1px solid #fff;}
.content{padding-left: 10px;padding-right: 10px;}
/* sys CSS */
.systitle h3{font-size: 18px;margin-top: 20px;color: #000;font-weight: bold;}
.systable{width: 70%;margin: 0 auto;}
.sysmsg{margin-top: 20px;}
.systable div{border-top:1px solid #000;background-color: #d8d3d3;height: 30px;line-height: 30px;border-left:1px solid #000 ;}
.systable>div:nth-child(1){font-size: 16px; font-weight: bold;}
.systable>div:nth-last-child(1){border-right:1px solid #000;}
.borbtm {border-bottom: 1px solid #000;}

/*  adm-table  */ 
.adm-table-search{margin-left: 5px;}
.btn-toolbar{margin-left: 10px;}
.adm-table-box{border: 1px #c5bfbf solid;margin-top: 10px;}
.amd-table-title{color: #505050;background: #dddddd;background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fafafa));background: -ms-linear-gradient(bottom, #dddddd, #fafafa);background: -moz-linear-gradient(center bottom, #dddddd 0%, #fafafa 100%);background: -o-linear-gradient(bottom, #dddddd, #fafafa);filter: -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#dddddd')";padding-left: 1em;border-top: 1px solid #fff;outline: none;border-bottom: 1px solid #a6a6a6;border-left: none;margin-bottom: 0px;text-shadow: none;text-transform: none;font-weight: bold;font-size: .85em;line-height: 3em;}
.adm-list-infomsg{padding-left: 0;margin: 20px 0;border-radius: 4px;color: #57575a;height: 34px;line-height: 34px;font-size: 16px;}
.adm-table-form{display: inline-block;}

/*  addadm  css  */
.addadm{border: 1px solid #ddd;padding:20px;}
.addmsg p{letter-spacing:6px;margin-top:5px;margin-bottom:5px;font-size:18px;}
.addmsg p a{letter-spacing: 4px;font-size: 14px;}
.add-adm-from{margin-top: 30px;}
.inputbox{margin-bottom: 20px;}
.inputbox span{color: #f00;}
.inputbox i{font-size: 12px;}
.add-adm-from input,.add-adm-from label{height: 24px;line-height: 24px;}
.add-adm-from label{text-align: right;}
.add-adm-from textarea{line-height: 18px;height: 80px;}
.add-adm-from .btnbox{margin-top: 20px;}

/*  modify-adm  css */
.modify-adm form>div{margin-bottom: 20px;}
.modify-adm .pop{height: 150px;left:48%;position:fixed;top:36%;width: 300px;}
.modify-adm .pop {text-align: center;}
.modify-adm .btn-box{margin-top: 50px;}
/* add-add-cooperate  CSS*/
#add-cooperate span{height: 26px;line-height: 26px;font-weight: 800;color: #000;}
#add-cooperate>div{padding: 10px 0;}
#add-cooperate div[contenteditable="true"]{padding: 2px; outline: 0; border: 1px solid #a0b3d6; line-height: 26px;word-wrap: break-word;overflow-x: hidden;overflow-y: auto;border-color: rgba(82, 168, 236, 0.8);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);}
#add-cooperate div[id='synopsis']{min-height: 60px;}  
 
 /*   list-teacher    */
.listteacher table {color: #fff;}
.listteacher .top-tel table{background-color: #f195c4;}
.listteacher .top-tel span{color: #e414ea;}
.listteacher .right-tel table{background-color: #8bb6f5;}
.listteacher .right-tel span{color: #496ee9;}
.listteacher .bottom-tel table{background-color: #30de2e;}
.listteacher .bottom-tel span{color:#30de2e;}
.listteacher .top-edit form {background-color: #fbb;padding-top:10px;}
.listteacher .top-edit h4{color: #fbb;}
.listteacher .top-edit button{height: 26px;line-height: 26px;padding-top: 0;}
.listteacher .top-edit .close-box{width: 18px;height: 18px;background-color: #f00;line-height: 18px;text-align: center;border-radius: 10px;margin-top: 5px;margin-right: 5px;cursor:pointer;}
/*   footer  css */
footer{text-align: center;}
hr{border-color:#2ac305;}
