<div class="mainwrap mar_t15 padd_b50">
	<div class="row">
		<div class="col-xs-12 col-sm-12  col-md-9 padd0">
			<div class="mainbox">
				<div class="nylan" style="color:#0064b9">
					关于我们
				</div>
				<div class="mainbox_2">

					<p>
						<span style="color: rgb(51, 127, 229); font-size: 14px;" font-size:16px; "=" "><strong>途帆教育</strong></span><span style="font-size:14px; ">成立于2007年，是江苏省内较早从事网络高等学历教育服务的机构，多年来，凭借在教育服务的优势，提供网络在线的高等学历教育、职业技能培训。目前，累积服务5万余网络大学生。 </span><br>
<span style="font-size:14px; "> 途帆教育倡导以“人”为中心，让学习更便捷、更快乐，让学习者真正学有所用，帮助越来越多的人通过“及时学习”，实现人生梦想。途帆：人生路途虽远，求学过，方可前途无量，但保一帆风顺。求真创新，以人为本，质量立形”的办学理念，实现“高水平服务，高效率管理，高质量育人”的办学目标。<br>
</span> 
</p>
<p>
	<span style="color:#337FE5;font-size:16px;font-family:; "><strong><br>
<span style="font-size:14px; ">服务对象:</span></strong></span><br>
<span style="font-size:14px; ">中专、高中生、大学在校生、在职人员等</span><br>
<br>
<span style="color:#337FE5;font-size:14px; "><strong>选择我们的</strong></span><span style="color:#337FE5;font-size:14px; "><strong>优势：</strong></span><br>
<span style="font-size:14px; ">a.途帆教育全程个性化服务流程</span><br>
<span style="font-size:14px; "> 途帆教育通过对学生的全程个性化服务流程，为每一个学生进行个性化的诊断测评、匹配适合的优秀教师、量身定做个性化的教学方案、进行个性化的辅导教学。帮助学生培养良好的学习习惯、开拓学习思维，获得学习成绩与综合素质的双丰收，为学生的终身学习能力打下基础。</span><br>
<span style="font-size:14px; ">b.途帆教育雄厚的师资力量</span><br>
<span style="font-size:14px; "> 途帆教育具有丰富个性化教学经验的教师，履行客户至上的理念，为学生提供优质专业的服务。途帆教育的教师在个性化教育教学方面体现了诸多特色：相信所有学员都能出色的学习、充分了解全国职业教育和考试特点、创造丰富的教学情境、加强教师团队的培训与教研活动，这些都是途帆教育优质教学服务的基础。</span><br>
<span style="font-size:14px; ">c.途帆教育理念</span><br>
<span style="font-size:14px; "> 人才资源是第一资源人才资本是第一资本</span><br>
<span style="font-size:14px; "> 公司有着丰富的教育资源，与国内众多院校有着长期稳定的合作关系，为广大学员提供学习、升学、等级考试、职业资格认证辅导等一系列教育咨询服务。项目领域涵盖了电大、远程、自考等开放式学历教育，高校校际教学资源整合等领域。中国古有“活到老、学到老”的优良传统，将更好的教学资源、学习机会提供给求学员是我们的使命，也是我们生存和发展的根本。</span>&nbsp;<br>
<span style="color: rgb(51, 127, 229); font-size: 16px; font-family: " microsoft=" " yahei"; "=" " font-size:16px;color:#337fe5;"=""><strong><br>
<span style="font-size:14px;"></span><span style="font-size:14px;">合作院校</span></strong></span><br>
						<span style="font-size:14px;">途帆教育主要合作伙伴有：厦门大学、北京外国语大学、华南师范大学、电子科技大学，西南交通大学、江南大学、郑州大学、南京理工大学、南京邮电大学、南京航空航天大学、等各大知名院校<br>
<br>
<span style="color:#E53333;font-size:16px;font-family:;"><strong></strong></span><span style="color:#E53333;font-size:16px;font-family:;"><strong>温馨提示：<br>
近期有不少不良社会人员冒充我中心老师名义向学生提出缴纳资料费用，我中心再次郑重声明：绝不会以任何借口或名义向学生收取除学费以外的资料费。<br>
<br>
</strong></span></span>
					</p>

				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 hidden-sm ">
			<div class="apply" style="padding:0 0 15px 0;">
				<!--S 代码-->
				<div class="TB-focus" style="margin:0 auto">
					<div class="hd">
						<ul>

							<li class="on"></li>

						</ul>
					</div>
					<div class="bd">
						<div class="tempWrap" style="overflow:hidden; position:relative; width:250px">
							<ul style="width: 750px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -250px;">
								<li class="clone" style="float: left; width: 250px;">
									<a href="http://www.tufanedu.com" target="_blank"><img src="uploads/201762916193829036.jpg"></a>
								</li>

								<li style="float: left; width: 250px;">
									<a href="http://www.tufanedu.com" target="_blank"><img src="uploads/201762916193829036.jpg"></a>
								</li>

								<li class="clone" style="float: left; width: 250px;">
									<a href="http://www.tufanedu.com" target="_blank"><img src="uploads/201762916193829036.jpg"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					jQuery(".TB-focus").slide({
						mainCell: ".bd ul",
						effect: "leftLoop",
						autoPlay: true,
						delayTime: 200
					});
				</script>
				<!--E 代码-->
			</div>
			<div class="asside_box1 ">
				<div class="contact_box">
					<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=936907843&amp;site=www.cactussoft.cn&amp;menu=yes" target="_blank"><img class="contactimg" src="images/contact_img.png"></a>
					<div class="wechat">
						<img src="images/wechat1.jpg">
						<p>扫一扫获取报名资料</p>
					</div>
					<div class="online">
						<p>免费通话<br> 咨询热线：
						</p>
						<p style="color:#f4bc35 ; font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:29px;">15303718943</p>

						<div class="myqq">
							<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1007614025&amp;site=www.cactussoft.cn&amp;menu=yes" target="_blank">张老师</a>
						</div>
					</div>
				</div>
				<div class="education_box">
					<div class="lan1">
						<p>学籍查询</p>
					</div>
					<div class="row">
						<a class="col-xs-6 col-sm-6 " style="padding-right:5px;" href="http://www.chsi.com.cn/xlcx/lscx/query.do" target="_blank">
							<dl class="education_item bg1">
								<dt><img src="images/school_icon1.png"></dt>
								<dd>专升本</dd>
							</dl>
						</a>
						<a class="col-xs-6 col-sm-6" style="padding-left:5px;" href="http://www.chsi.com.cn/xlcx/lscx/query.do" target="_blank">
							<dl class="education_item bg2">
								<dt><img src="images/school_icon2.png"></dt>
								<dd>高起专</dd>
							</dl>
						</a>
						<a class="col-xs-6 col-sm-6" style="padding-right:5px;" href="http://www.chsi.com.cn/xlcx/lscx/query.do" target="_blank">
							<dl class="education_item bg3">
								<dt><img src="images/school_icon3.png"></dt>
								<dd>高升本</dd>
							</dl>
						</a>
						<a class="col-xs-6 col-sm-6" style="padding-left:5px;" href="#">
							<dl class="bg4">
								<dt>学历成就一切</dt>
								<dd>......</dd>
							</dl>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>