<div class="mainwrap mar_t15 padd_b50">
    <div class="row">
         <div class="col-xs-12 col-sm-12  col-md-9 padd0">
                <div class="mainbox">
                       <div class="nylan">
                          <a href="cr.asp">成人教育</a>
                      </div>
                      <div class="mainbox_2">
                           <div class="mainbox_2b">
                             
                                            <dl>
                                                <dt><a href="crview.asp?id=59"><img src="uploads/20176719503559771.jpg"></a> </dt>
                                                <dd class="info">
                                                        <h3><a href="crview.asp?id=59">南京理工大学</a> </h3>
                                                        <p>热门专业：会计电算化、经济管理、物流管理、人力资源管理、商务英语、建筑工程技术、数控技术 、机电一体化技术、汽车运用与维修、 工商企业管理 
</p>
                                                        <span>学制：<small>2.5-5</small>年</span>
                                                </dd>
                                                <dd class="opera">
                                                        <a class="more" href="crview.asp?id=59">招生详情</a> 
                                                        <a class="ask" href="http://p.qiao.baidu.com/cps/chat?siteId=10890802&amp;userId=24133180" target="_blank">在线咨询</a>  
                                                </dd>
                                           </dl>
                                            
                                            <dl>
                                                <dt><a href="crview.asp?id=60"><img src="uploads/201771819391627757.jpg"></a> </dt>
                                                <dd class="info">
                                                        <h3><a href="crview.asp?id=60">南京航空航天大学</a> </h3>
                                                        <p>热门专业：计算机科学与技术、电子信息工程、飞行器动力工程、交通运输、土木工程、机械工程及自动化、工业工程、信息管理与信息系统、英语、会计学、工商管理、国际经济与贸易等本科专业，计算机应用技术、机械及自动化、会计、计算机信息管理、电子商务、民航运输、飞机维修等专科专业</p>
                                                        <span>学制：<small>2.5</small>年</span>
                                                </dd>
                                                <dd class="opera">
                                                        <a class="more" href="crview.asp?id=60">招生详情</a> 
                                                        <a class="ask" href="http://p.qiao.baidu.com/cps/chat?siteId=10890802&amp;userId=24133180" target="_blank">在线咨询</a>  
                                                </dd>
                                           </dl>
                                            
                                            <dl>
                                                <dt><a href="crview.asp?id=61"><img src="uploads/201771819563011801.jpg"></a> </dt>
                                                <dd class="info">
                                                        <h3><a href="crview.asp?id=61">南京工业大学</a> </h3>
                                                        <p>热门专业：化学工程与工艺、工程管理、机械工程及自动化、化工原理、工程力学、混凝土与砌体结构</p>
                                                        <span>学制：<small>2.5-5</small>年</span>
                                                </dd>
                                                <dd class="opera">
                                                        <a class="more" href="crview.asp?id=61">招生详情</a> 
                                                        <a class="ask" href="http://p.qiao.baidu.com/cps/chat?siteId=10890802&amp;userId=24133180" target="_blank">在线咨询</a>  
                                                </dd>
                                           </dl>
                                            
                                            <dl>
                                                <dt><a href="crview.asp?id=62"><img src="uploads/201771819593510749.jpg"></a> </dt>
                                                <dd class="info">
                                                        <h3><a href="crview.asp?id=62">常州大学</a> </h3>
                                                        <p>热门专业：国际经济与贸易 、机电一体化技术、 机械制造与自动化、 建筑工程技术 、生化制药技术 、石油工程技术、 应用化工技术
</p>
                                                        <span>学制：<small>2.5-5</small>年</span>
                                                </dd>
                                                <dd class="opera">
                                                        <a class="more" href="crview.asp?id=62">招生详情</a> 
                                                        <a class="ask" href="http://p.qiao.baidu.com/cps/chat?siteId=10890802&amp;userId=24133180" target="_blank">在线咨询</a>  
                                                </dd>
                                           </dl>
                                            
                                            <dl>
                                                <dt><a href="crview.asp?id=63"><img src="uploads/20177182016182541.jpg"></a> </dt>
                                                <dd class="info">
                                                        <h3><a href="crview.asp?id=63">河海大学</a> </h3>
                                                        <p>热门专业：水利水电工程、电气工程及其自动化、港口航道与海岸工程、水文与水资源工程、计算机科学与技术、机械工程及自动化等专业
</p>
                                                        <span>学制：<small>2.5-5</small>年</span>
                                                </dd>
                                                <dd class="opera">
                                                        <a class="more" href="crview.asp?id=63">招生详情</a> 
                                                        <a class="ask" href="http://p.qiao.baidu.com/cps/chat?siteId=10890802&amp;userId=24133180" target="_blank">在线咨询</a>  
                                                </dd>
                                           </dl>
                                            
                                            <dl>
                                                <dt><a href="crview.asp?id=64"><img src="uploads/20178312505840838.jpg"></a> </dt>
                                                <dd class="info">
                                                        <h3><a href="crview.asp?id=64">中国矿业大学</a> </h3>
                                                        <p>热门专业：土木工程、工程管理、交通运输、机械工程、计算机科学与技术、工商管理、会计学、汽车检测与维修技术、机电一体化技术、建筑工程技术、计算机信息管理、煤矿开采技术、矿井通风与安全、测绘与地质工程技术</p>
                                                        <span>学制：<small>2.5-5</small>年</span>
                                                </dd>
                                                <dd class="opera">
                                                        <a class="more" href="crview.asp?id=64">招生详情</a> 
                                                        <a class="ask" href="http://p.qiao.baidu.com/cps/chat?siteId=10890802&amp;userId=24133180" target="_blank">在线咨询</a>  
                                                </dd>
                                           </dl>
                                             
                                           
                           </div>
                            <div class="clear"></div>
                            <!--分页-->
                            <div class="sh_page text_c">
                               
<div class="sh_page">
<a>首页</a>&nbsp;<a>上一页</a>&nbsp;<a class="dangqian" href="/cr.asp?total=6&amp;page=1">1</a>
<a>下一页</a>&nbsp;<a>末页</a>
</div>

                            </div>  
                            <!--分页-->    
                           
                           
                      </div>
                </div>
         </div>
	 <qc-outside></qc-outside>
    </div>
</div>
<qc-honor></qc-honor>