<footer>
<div class="linkwrap hidden-xs">
     <div class="mainwrap link">
           <h3>友情链接</h3> 
           <ul>
           
              <li><a href="https://my.chsi.com.cn/archive/index.jsp"  target="_blank">学籍查询</a></li>
             
              <li><a href="http://www.chsi.com.cn/xlcx/index.jsp"  target="_blank">学历查询</a></li>
             
           </ul>
           <div class="clear"></div>
     </div>
</div>
<div id="footer">
   <div class="mainwrap footer ">
        <p align="left">
         	<br />
        </p>
		<p>&nbsp;</p>
	<table style="width:100%;" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td style="text-align:left;vertical-align:top;">
<a href="#" target="_blank"><span style="color:#FFFFFF;">途帆首页</span><a href="#" target="_blank"></a><span style="color:#FFFFFF;">&nbsp;&nbsp;&nbsp; </span><a href="#" target="_blank"><span style="color:#FFFFFF;">教务通知</span><span></span></a><span style="color:#FFFFFF;">&nbsp;</span><br />
<span style="color:#FFFFFF;"> 网</span><a href="#" target="_blank"><span style="color:#FFFFFF;">络教育</span></a><span style="color:#FFFFFF;">&nbsp;&nbsp;&nbsp; </span><a href="#" target="_blank"><span style="color:#FFFFFF;">在线报名</span></a><br />
<a href="#" target="_blank"><span style="color:#FFFFFF;">成人教育</span></a><span style="color:#FFFFFF;">&nbsp;&nbsp;&nbsp; </span><a href="#" target="_blank"><span style="color:#FFFFFF;">关于我们</span></a><br />
<a href="#" target="_blank"><span style="color:#FFFFFF;">电大开放</span></a><span style="color:#FFFFFF;">&nbsp;&nbsp;&nbsp; </span><a href="#" target="_blank"><span style="color:#FFFFFF;">咨询老师</span></a><br />
<a href="#" target="_blank"><span style="color:#FFFFFF;">自学考试</span><br />
</a> 
				</td>
				<td style="text-align:left;vertical-align:top;">
					<p align="left">
						<span style="color:#FFFFFF;">&nbsp;</span><span style="color:#FFFFFF;">联系我们：</span><br />
<span style="color:#FFFFFF;">QQ1：</span><span style="color:#FFFFFF;">1007614025 张老师</span><br />
<span style="color:#FFFFFF;"></span><span style="color:#FFFFFF;">手机：15303718943（微信同号）</span> 
						<p align="left">
							<span style="color:#FFFFFF;">中心地址：郑州市二七区大学南路和中秋路交叉口</span> 
						</p>
						<p>
							<br />
						</p>
							</td>
							<td style="text-align:left;vertical-align:top;">
								<span style="color:#FFFFFF;">手机扫一扫：</span><br />
<img style="width:114px;height:108px;" alt="" align="left" src="../images/wechat1.jpg" width="160" height="149" /> 
							</td>
							<td>
								&nbsp;
							</td>
								</tr>
									</tbody>
										</table>
										<p>
											<br />
										</p> 
   </div>
</div> 
</footer>