<section>
	<div class="mainwrap">
		<div class="row">
			<div class="apply_2 hidden-sm">
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=10890802&amp;userId=24133180" target="_blank"><img src="images/footer_img1.png"></a>
			</div>
			<div class="apply_2 hidden visible-sm">
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=10890802&amp;userId=24133180" target="_blank"><img src="images/footer_img1.png"></a>
			</div>
		</div>
	</div>
	<div class="academy_box2">
		<div class="mainwrap">
			<div class="row">
				<div class="academy_box2_list">
					<div class="lan2">
						<p>荣誉资质</p>
					</div>
					<ul class="hon_ul  gallery clearfix ">

					</ul>
				</div>
			</div>
		</div>
	</div>
</section>