<div class="mainwrap mar_t15 padd_b50">
	<div class="row">
		<div class="col-xs-12 col-sm-12  col-md-9 padd0">
			<div class="mainbox" style="padding-bottom:20px;">
				<div class="nylan">
					<a href="javascript:">在线报名</a>
				</div>
				<div class="mainbox_2">
					<div class="form_common">
						<div class="form-group">
							<label for="name" class="col-xs-12 col-sm-2 control-label">姓名：</label>
							<div class="col-xs-11  col-sm-8">
								<input id="txt_name2" type="text" class="form-control" placeholder="姓名">
							</div>
							<div class="col-xs-1  col-sm-2 help-tips ">
								<span class="glyphicon">*</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label for="address" class="col-xs-12 col-sm-2 control-label">专业：</label>
							<div class="col-xs-11  col-sm-8">
								<input id="txt_qq2" type="text" class="form-control" placeholder="专业">
							</div>
							<div class="col-xs-1  col-sm-2 help-tips ">
								<span class="glyphicon"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label for="address" class="col-xs-12 col-sm-2 control-label">地区：</label>
							<div class="col-xs-11  col-sm-8">
								<input id="txt_where2" type="text" class="form-control" placeholder="地区">
							</div>
							<div class="col-xs-1  col-sm-2 help-tips ">
								<span class="glyphicon">*</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label for="phone" class="col-xs-12 col-sm-2 control-label">手机：</label>
							<div class="col-xs-11  col-sm-8">
								<input id="txt_tel2" type="text" class="form-control" placeholder="手机">
							</div>
							<div class="col-xs-1  col-sm-2 help-tips ">
								<span class="glyphicon">*</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<label for="email" class="col-xs-12 col-sm-2 control-label">E-mail：</label>
							<div class="col-xs-11  col-sm-8">
								<input id="txt_email2" type="text" class="form-control" placeholder="请输入E-mail">
							</div>
							<div class="col-xs-1  col-sm-2 help-tips ">
								<span class="glyphicon"></span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<div class="col-xs-12  col-sm-8  col-sm-offset-2 ">
								<input type="submit" class="btn btn-brown btn-block" value="立即报名">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<qc-outside></qc-outside>
	</div>
</div>