<div class="mainwrap mar_t15 padd_b50">
	<div class="row">
		<div class="col-xs-12 col-sm-12  col-md-9 padd0">
			<div class="mainbox">
				<div class="nylan">
					<a href="dd.asp">电大开放</a>
				</div>
				<div class="mainbox_2">
					<div class="mainbox_2b">

						<dl>
							<dt><a href="ddview.asp?id=19"><img src="upload/201771820201355110.jpg"></a> </dt>
							<dd class="info">
								<h3><a href="ddview.asp?id=19">中央广播电视大学</a> </h3>
								<p>热门专业：金融学、法学、商务英语（国际商务方向）、计算机科学与技术、土木工程（建筑管理方向）
								</p>
								<span>学制：<small>2.5-5</small>年</span>
							</dd>
							<dd class="opera">
								<a class="more" href="ddview.asp?id=19">招生详情</a>
								<a class="ask" href="http://p.qiao.baidu.com/cps/chat?siteId=10890802&amp;userId=24133180" target="_blank">在线咨询</a>
							</dd>
						</dl>

					</div>
					<div class="clear"></div>
					<!--分页-->
					<div class="sh_page text_c">

						<div class="sh_page">
							<a>首页</a>&nbsp;
							<a>上一页</a>&nbsp;
							<a class="dangqian" href="/dd.asp?total=1&amp;page=1">1</a>
							<a>下一页</a>&nbsp;
							<a>末页</a>
						</div>

					</div>
					<!--分页-->
				</div>
			</div>
		</div>
		<qc-outside></qc-outside>
	</div>
</div>
<qc-honor></qc-honor>