<div class="row-fluid adm-list-tab">
	<div class="btn-toolbar">
		<a ui-sref="addadm" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;账号</a>
	</div>
	<div class="block adm-table-box">
		<div class="amd-table-title">账号列表</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>登录名</th>
					<th>姓名</th>
					<th>手机</th>
					<th>邮箱</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="adm in adms">
			      <td>{{ adm.account }}</td>
			      <td>{{ adm.username }}</td>
			      <td>{{ adm.tel }}</td>
			      <td>{{ adm.email }}</td>
			      <td>
			          <a ui-sref="modifyadm({id:adm.id})"><i class="fa fa-pencil fa-fw"></i>&nbsp;编辑</a>&nbsp;&nbsp;&nbsp;
			          <a ng-click="deleteAdm({id:adm.id})"><i class="fa fa-trash-o fa-lg"></i>&nbsp;删除</a>
			      </td>
			    </tr>
			</tbody>
		</table>
		<nav class="row-fluid">
			<div class="adm-list-infomsg col-xs-6">
				<span>
					显示第{{ data.pageSize * (data.page-1) +1 }}条到{{ (data.pageSize * (data.page-1) +1)+(adms.length - 1) }}条记录，总共{{ adms.totalRows }}条记录每页显示
				</span>
				<form class="adm-table-form" novalidate="novalidate">
					<select ng-model="pageSize" ng-options="v.label for v in pageSizeList" ng-change="resetTable()"></select>
				</form>
				 <span>条记录</span>
			</div>
	        <ul class="pagination col-xs-6">
	        	<li>
	                <a ng-click="firstPage()">
	                    <span>首页</span>
	                </a>
	            </li>
	            <li>
	                <a ng-click="prevPage()">
	                    <span>上一页</span>
	                </a>
	            </li>
	            <li ng-repeat="page in pageList track by $index" ng-class="{active: isActivePage(page)}" >
	                <a ng-click="selectPage(page)">{{ page }}</a>
	            </li>
	            <li>
	                <a ng-click="nextPage()">
	                    <span>下一页</span>
	                </a>
	            </li>
	            <li>
	                <a ng-click="endPage()">
	                    <span>尾页</span>
	                </a>
	            </li>
	        </ul>
	    </nav>
	</div>
</div>