<div class="row-fluid modify-adm">
	<form novalidate="novalidate" name="adm">
		<div class="row-fluid col-xs-offset-1 clearfix">
			<label for="username" class="col-xs-1">姓名：</label>
	  		<input type="text" ng-change="newAdm(adm)" class="col-xs-3" id="username" ng-model="adm.username">	
		</div>
		<div class="row-fluid col-xs-offset-1 clearfix">			
			<label for="account" class="col-xs-1">账号：</label>
			<input type="text" ng-change="newAdm(adm)" class="col-xs-3" id="account" ng-model="adm.account">
		</div>
  		<div class="row-fluid col-xs-offset-1 clearfix">			
  			<label for="tel" class="col-xs-1">手机：</label>
  			<input type="text" ng-change="newAdm(adm)" class="col-xs-3" id="tel" ng-model="adm.tel">
		</div>
  		<div class="row-fluid col-xs-offset-1 clearfix">			
  			<label for="email" class="col-xs-1">邮箱：</label>
  			<input type="text" ng-change="newAdm(adm)" class="col-xs-3" id="email" ng-model="adm.email">
		</div>
  		<div class="row-fluid col-xs-offset-1">			
			<input type="submit" ng-disabled="pop" class="col-xs-1 col-xs-offset-3" ng-click="subFn()" value="修改"/>
		</div>
	</form>
	<div class="pop alert alert-warning" ng-show="pop">
		<h3>确定修改吗？</h3>
		<div class="row btn-box">
			<div class="col-xs-6">
				<button ng-click="cancelFn()" class="btn btn btn-primary">取消</button>
			</div>
			<div class="col-xs-6">
				<button ng-click="confirmFn(adm.id)" class="btn btn btn-primary">确认</button>				
			</div>
		</div>
	</div>
</div>